

<!-- make this div always visible at the top -->
<div id="stickyheader" class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><%= image_tag "icon.png", class: "d-inline-block align-top", width: "30", height: "30", alt: "icon" %>  Charts</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#Supports">Supports</a>
            <a class="nav-item nav-link" href="#Warriors">Warriors</a>
            <a class="nav-item nav-link" href="#Assassins">Assassins</a>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <div class="container shadow p-3 mb-5 bg-white rounded">
                <h4 id="Supports">Supports</h4>
            <table id="dtsup" class="table table-striped table-bordered table-hover display"> 
                <!-- can add a table-responsive for horizontal scrolling -->
                <!-- can also table table-sm -->
                <caption>Support heroes</caption>
                <thead class='thead-light'>
                    <tr>
                        <th>#</th>
                        <th>Hero Name</th>
                        <th>Win Rate</th>
                        <th>Popularity</th>
                        <th>Games Played</th>
                    </tr>
                </thead>
                <tbody>

                    <% @supports.each_with_index do |h, index| %>
                    <tr>
                        <td scope="row"><%= index + 1 %></td>
                        <td><%= h.heroName %></td>
                        <td>
                        <%= h.winRate %>%
                        <div class="progress" style="border: 1pt solid slategrey">
                            <div class="progress-bar" role="progressbar" style="width: <%= h.winRate %>%;" aria-valuenow="<%= h.winRate %>" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        </td>
                        <td>
                        <%= h.participation %>%
                        <div class="progress" style="border: 1pt solid slategrey">
                            <div class="progress-bar" role="progressbar" style="width: <%= h.participation %>%;" aria-valuenow="<%= h.participation %>" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        </td>

                        <td><%= h.gamesPlayed %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table> 
        </div>
    <div class="container shadow p-3 mb-5 bg-white rounded">
                <h4 id="Warriors">Warriors</h4>
            <table id="dtwar" class="table table-striped table-bordered table-hover display"> 
                <!-- can add a table-responsive for horizontal scrolling -->
                <!-- can also table table-sm -->
                <caption>Warrior heroes</caption>
                <thead class='thead-light'>
                    <tr>
                        <th>#</th>
                        <th>Hero Name</th>
                        <th>Win Rate</th>
                        <th>Popularity</th>
                        <th>Games Played</th>
                    </tr>
                </thead>
                <tbody>

                   <% @warriors.each_with_index do |h, index| %>
                    <tr>
                        <td scope="row"><%= index + 1 %></td>
                        <td><%= h.heroName %></td>
                        <td>
                        <%= h.winRate %>%
                        <div class="progress" style="border: 1pt solid slategrey">
                            <div class="progress-bar" role="progressbar" style="width: <%= h.winRate %>%;" aria-valuenow="<%= h.winRate %>" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        </td>
                        <td>
                        <%= h.participation %>%
                        <div class="progress" style="border: 1pt solid slategrey">
                            <div class="progress-bar" role="progressbar" style="width: <%= h.participation %>%;" aria-valuenow="<%= h.participation %>" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        </td>

                        <td><%= h.gamesPlayed %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table> 
            </div>
    <div class="container shadow p-3 mb-5 bg-white rounded">
                <h4 id="Assassins">Assassins</h4>
            <table id="dtass" class="table table-striped table-bordered table-hover display"> 
                <!-- can add a table-responsive for horizontal scrolling -->
                <!-- can also table table-sm -->
                <caption>Assassin heroes</caption>
                <thead class='thead-light'>
                    <tr>
                        <th>#</th>
                        <th>Hero Name</th>
                        <th>Win Rate</th>
                        <th>Popularity</th>
                        <th>Games Played</th>
                    </tr>
                </thead>
                <tbody>

                   <% @assassins.each_with_index do |h, index| %>
                    <tr>
                        <td scope="row"><%= index + 1 %></td>
                        <td><%= h.heroName %></td>
                        <td>
                        <%= h.winRate %>%
                        <div class="progress" style="border: 1pt solid slategrey">
                            <div class="progress-bar" role="progressbar" style="width: <%= h.winRate %>%;" aria-valuenow="<%= h.winRate %>" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        </td>
                        <td>
                        <%= h.participation %>%
                        <div class="progress" style="border: 1pt solid slategrey">
                            <div class="progress-bar" role="progressbar" style="width: <%= h.participation %>%;" aria-valuenow="<%= h.participation %>" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        </td>

                        <td><%= h.gamesPlayed %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table> 
            </div>
</div>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <%= javascript_include_tag 'special/dtables', 'data-turbolinks-track': 'reload' %>

