<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <title>ioLevi's Hots API</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- meta for JS MMR  -->
    <meta id='player' data-username="{{ current_user.hotslogs}}">

  </head>

  <body>
    <%= render "navbar" %>
    
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    
    <%= yield %>
    <%= render "footer" %>
    <%= debug(params) if Rails.env.development? %>

    
  </body>
</html>
